<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246210817329-7skmv4skdqbkfvfjn9s4p6li5830co50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246210817329-7skmv4skdqbkfvfjn9s4p6li5830co50</string>
	<key>API_KEY</key>
	<string>AIzaSyAWK7QGVp5AgTTixOQZtT9I7rTwFrro0bE</string>
	<key>GCM_SENDER_ID</key>
	<string>246210817329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatiyaao</string>
	<key>STORAGE_BUCKET</key>
	<string>chatiyaao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246210817329:ios:087d446aa84fc6c24d5410</string>
</dict>
</plist>